---
layout: archive
permalink: /blog/
title: "blog"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

to keep myself accountable to (1) those who have sacrificed to enable my research, (2) those my research serves, and (3) their intersection, I'll be posting regular updates on my PhD work. I'll also make goals for each coming week and share a little about my life outside the lab, because there's always something else going on :)

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
